<div class= "userinfo">
  <h2>Username: <a href="https://github.com/<%= current_user.username %>", class="username"></a></h2>
  
  <h3>Following: <span class="following"></span></h3>
  <h3>Followers: <span class="followers"></span></h3>
  <h3>Public Repos: <span class="public_repos"></h3>
  <h3>Private Repos: <span class="private_repos"></span></h3>
  <h3>Public Gists: <span class="public_gists"></span></h3>
  <h3>Private Gists: <span class="private_gists"></span></h3>
  <h3>Location: <span class="location"></span></h3>
</div>
