<div class= "userinfo">
  <h2>Username: <span class="username"></span></h2>
  <h3>Following:</h3>
  <h3>Followers:</h3>
  <h3>Public Repos:</h3>

</div>
<%= @following %>
<%= @followers %>
<%= @public_repos %>
<%= @location %>
